#track {
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: #ffffff77;
  border-radius: 5px;
  margin: 20px;
  padding: 7px;
}

.track-header {
  margin-bottom: 10px;
}

.track-footer {
  display: flex;
  justify-content: space-between;
}
