#track {
  display: flex;
  flex-direction: column;
  width: 320px;
  min-height: 130px;
  justify-content: space-between;
  background-color: #ffffffcc;
  border-radius: 5px;
  margin: 20px;
  padding: 7px;
}

.track-header {
  margin: 5px;
  display: flex;
  justify-content: space-between;
}

.track-footer {
  margin: 5px;
  display: flex;
  justify-content: space-between;
}

.icon {
  width: 20px;
  height: 20px;
  margin: 0 5px;
  cursor: pointer;
}

.icon-container {
  min-width: 60px;
}
