* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(-20deg, #b410cee6, #1781e3e6, #0fe267e6);
  min-height: 100vh;
}

h1 {
  color: #fff;
}

h2,
p {
  color: #333333;
}
